body {
    text-align: center;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    margin: 0;
}

.body-back-color {
    background-color: #f1f1f1;
}

.auth-form {
    background-color: #ffffff;
}

.main-block {
    background-color: #f1f1f1;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
}


.tile-button {
    width: 42px;
    height: 42px;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid gray;
    border-radius: 2px;
    background-color: White;
}

.tile-button:focus {
    outline: 0;
}

.tile-button:hover {
    background-color: dodgerblue;
    border-color: blue;
}

.chatbox > .panel {
    margin-bottom: 0.3em;
}

#chat {
    max-height: 10em;
    padding-left: 1em;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}

#input-message {
    padding-left: 0.7em;
}

@media screen and (max-width: 555px) {
    .tile-button {
        width: 26px;
        height: 26px;
    }
}
