{% extends "base.html" %}
{% from "macros/macros.html" import render_grid %}
{% from "macros/macros.html" import render_game_header %}
{% from "macros/macros.html" import render_game_rules %}
{% from "macros/macros.html" import render_replay_controls %}
{% block title %}
    Replay : TicTacToe
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        var active_game = false;
        var player_number = {{ player_number }};
        var game_id = {{ game.id }};
        var game_state = {{ game.state }};
        var game_result = {{ game.result }};
    </script>
    <script src="/static/scripts/game.js"></script>
{% endblock %}
{% block navbar_links %}
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}">Profile</a></li>
    <li class="active"><a href="{{ url_for('show_archived_game', game_id=game.id) }}">Game <span class="sr-only">(current)</span></a></li>
{% endblock %}
{% block content %}
    <div class="main-block row col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        {{ render_game_header(game, current_user) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ render_grid(game) }}
            </div>
            {{ render_replay_controls() }}
            {{ render_game_rules(game) }}
        </div>
    </div>
{% endblock %}