{% extends "base.html" %}
{% from "macros/macros.html" import render_grid %}
{% block content %}
    <div class="main-block row col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        <h3>
        {% set relations = game.users | rejectattr('user_role', 'equalto', 0) | sort(attribute='user_role') %}
        {% for relation in relations %}
            {{ relation.user.username }}
            {% if loop.first %} vs {% endif %}
        {% endfor %}
        {% if relations | length == 1 %}
            ___
        {% endif %}
        </h3>
        {# a temporary dummy for game #}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ render_grid(game) }}
                <p>Game state: {{ game.state }}</p>
                <p>Game field size: {{ game.field_size }}</p>
                <p>Game win length: {{ game.win_length }}</p
            </div>
        </div>
        <p>
            <a href="{{ url_for('index') }}" >Go to homepage</a>
        </p>
    </div>
{% endblock %}