{% extends "base.html" %}
{% from "macros/macros.html" import render_grid %}
{% from "macros/macros.html" import render_button %}
{% from "macros/macros.html" import render_game_header %}
{% from "macros/macros.html" import render_game_rules %}
{% block title %}
Game : TicTacToe
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        var player_number = {{ player_number }};
        var game_id = {{ game.id }};
        var game_state = {{ game.state }};
        var game_result = {{ game.result }};
{#        var game_result = {{ game.result if game.result else -1 }};#}
    </script>
    <script src="/static/scripts/game.js"></script>
{% endblock %}
{% block content %}
    <div class="main-block row col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-xs-12">
        {{ render_game_header(game, current_user) }}
        <div class="panel panel-default">
            <div class="panel-body">
                {{ render_grid(game) }}
            </div>
            {{ render_game_rules(game) }}
        </div>

        <div>

        </div>
    {% include "_chat.html" %}
    </div>

{% endblock %}